# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# qt and project stuff
moc_*
Makefile
*.user
transmission-torrent-statistics
